@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "outfit";
  color: #111204;
}

main {
  position: relative;
}

.hidden {
  display: none;
}

.Bringing {
  width: 100%;
  min-height: 1815px;
  background-color: rgb(20, 22, 0);
  color: white;
}
.Bringing__header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Bringing__header-title {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}
.Bringing__header-title a {
  color: #ffffff;
}
.Bringing__header-title_green {
  color: #b9fd50;
}
.Bringing__header-block {
  display: flex;
  position: relative;
  top: 4px;
}
.Bringing__header-items {
  display: flex;
  align-items: center;
  margin-right: 75px;
}
.Bringing__header-items li:not(:last-child) {
  margin-right: 32px;
}
.Bringing__header-items a {
  color: #ffffff;
  transition: 0.2s;
}
.Bringing__header-items a:hover {
  transition: 0.2s;
  color: #cccccc;
}
.Bringing__header-button {
  color: black;
  background-color: #b9fd50;
  border: 1px solid black;
  padding: 17px 37px;
  border-radius: 8px;
  transition: 0.3s;
}
.Bringing__header-button:hover {
  transition: 0.3s;
  background-color: #97d140;
  cursor: pointer;
}
.Bringing__containerOne {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
}
.Bringing__containerOne-title {
  font-size: 96px;
  font-weight: bold;
}
.Bringing__containerOne-title_green {
  color: #b9fd50;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: italic;
}
.Bringing__containerOne-text {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 45px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}
.Bringing__containerOne-button {
  margin-top: 42px;
  font-size: 16px;
  font-weight: 600;
  background-color: #b9fd50;
  border: 1px solid black;
  padding: 18px 18px;
  border-radius: 8px;
  color: #111204;
  transition: 0.3s;
}
.Bringing__containerOne-button:hover {
  cursor: pointer;
  background-color: #9cd645;
  transition: 0.3s;
}
.Bringing__containerTwo {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 69px;
}
.Bringing__containerTwo-title {
  font-weight: bold;
  font-size: 15px;
  max-width: 440px;
  margin: 0 auto;
  position: relative;
}
.Bringing__containerTwo-title:before, .Bringing__containerTwo-title:after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: #b9fd50;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Bringing__containerTwo-title:before {
  left: 0;
}
.Bringing__containerTwo-title:after {
  right: 0;
}
.Bringing__containerTwo-wrapper {
  margin-top: 36px;
  background-color: #222222;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding: 30px 0;
  flex-wrap: wrap;
}
.Bringing__containerThree {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  margin-top: 123px;
}
.Bringing__containerThree-title {
  color: #b9fd50;
  font-weight: 400;
  font-size: 16px;
}
.Bringing__containerThree-row {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.Bringing__containerThree-row-text {
  font-size: 54px;
  font-weight: 600;
  max-width: 565px;
}
.Bringing__containerThree-row-column {
  margin-top: 22px;
  max-width: 500px;
}
.Bringing__containerThree-row-column-text {
  font-size: 24px;
  font-weight: 300;
  opacity: 0.8;
}
.Bringing__containerThree-row-column-button {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 600;
  background-color: #b9fd50;
  border: 1px solid black;
  padding: 18px 30px;
  border-radius: 8px;
  color: #111204;
  transition: 0.2s;
}
.Bringing__containerThree-row-column-button:hover {
  cursor: pointer;
  background-color: rgba(184, 253, 80, 0.8);
  transition: 0.2s;
}
.Bringing__containerFour {
  max-width: 1157px;
  width: 100%;
  margin: 0 auto;
  margin-top: 127px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Bringing__containerFour-items {
  max-width: 380px;
  width: 100%;
}
.Bringing__containerFour-items-itemOne {
  position: relative;
}
.Bringing__containerFour-items-itemOne-icon {
  position: relative;
  background-color: #b9fd50;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  z-index: 1;
}
.Bringing__containerFour-items-itemOne-icon img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 50px;
}
.Bringing__containerFour-items-itemOne-vector {
  position: absolute;
  top: 40px;
  left: 45px;
}
.Bringing__containerFour-items-itemTwo {
  max-width: 300px;
}
.Bringing__containerFour-items-itemTwo-title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 41px;
}
.Bringing__containerFour-items-itemTwo-text {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
  margin-top: 21px;
}

.OurBeautifulWorks {
  width: 100%;
  min-height: 1533px;
}
.OurBeautifulWorks__column {
  padding-top: 86px;
  max-width: 462px;
  margin: 0 auto;
}
.OurBeautifulWorks__column-title {
  font-size: 48px;
  font-weight: bold;
  color: #111204;
  text-align: center;
}
.OurBeautifulWorks__column-text {
  font-size: 18px;
  font-weight: 400;
  color: #111204;
  opacity: 0.8;
  margin-top: 15px;
  text-align: center;
}
.OurBeautifulWorks__column-button {
  color: #111204;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #111204;
  padding: 20.6px 30px 20.6px 66px;
  border-radius: 10px;
  margin-top: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.OurBeautifulWorks__column-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
  background-image: url(../image/02_OurBeautifulWorks/Load.png);
  width: 25px;
  height: 25px;
}
.OurBeautifulWorks__wrapper {
  padding-top: 55px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.OurBeautifulWorks__wrapper-items {
  max-width: 720px;
  display: flex;
  gap: 25px;
}
.OurBeautifulWorks__wrapper-items > * {
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.OurBeautifulWorks__wrapper-items > *:not(:last-child) {
  margin-top: 100px;
}

.OurCapabilities {
  width: 100%;
  min-height: 1680px;
  background-color: rgb(20, 22, 0);
  color: white;
}
.OurCapabilities__header {
  max-width: 1195px;
  padding-top: 100px;
  margin: 0 auto;
}
.OurCapabilities__header-title {
  margin: 0 auto;
  max-width: 138px;
  font-weight: 400;
  font-size: 16px;
  color: #b9fd50;
}
.OurCapabilities__header-subtitle {
  margin: 0 auto;
  max-width: 555px;
  margin-top: 16px;
  font-size: 54px;
  font-weight: 600;
}
.OurCapabilities__header-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
  gap: 12px;
}
.OurCapabilities__header-row > * {
  padding: 11px 28px 12px 35px;
  background-color: #b9fd50;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 300;
  color: #111204;
}
.OurCapabilities__header-loadMore {
  margin-top: 36.4px;
  max-width: 127px;
  height: 25px;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  padding: 20.6px 30px 20.6px 66px;
  left: 50%;
  transform: translateX(-50%);
}
.OurCapabilities__header-loadMore::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
  background-image: url(../image/03_OurCapabilities/LoadMore.png);
  width: 25px;
  height: 25px;
}
.OurCapabilities__wrap {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  margin-top: 102.4px;
}
.OurCapabilities__wrap-container-title {
  color: #b9fd50;
  font-weight: 400;
  font-size: 16px;
}
.OurCapabilities__wrap-container-row {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.OurCapabilities__wrap-container-row-text {
  font-size: 54px;
  font-weight: 600;
  max-width: 575px;
}
.OurCapabilities__wrap-container-row-column {
  margin-top: 22px;
  max-width: 535px;
}
.OurCapabilities__wrap-container-row-column-text {
  font-size: 24px;
  font-weight: 300;
  opacity: 0.8;
}
.OurCapabilities__wrap-container-row-column-button {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 600;
  background-color: #b9fd50;
  border: 1px solid black;
  padding: 18px 30px;
  border-radius: 8px;
  color: #111204;
  transition: 0.2s;
}
.OurCapabilities__wrap-container-row-column-button:hover {
  cursor: pointer;
  background-color: rgba(184, 253, 80, 0.7803921569);
  transition: 0.2s;
}
.OurCapabilities__grid {
  margin: 0 auto;
  margin-top: 103px;
  max-width: 1141px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 276px));
}
.OurCapabilities__grid-item {
  padding: 20px;
  text-align: center;
  width: 338px;
}
.OurCapabilities__grid-item:not(:nth-child(3n)) {
  border-right: 1px solid rgba(184, 253, 80, 0.0549019608);
}
.OurCapabilities__grid-item:not(:nth-last-child(-n+3)) {
  border-bottom: 1px solid rgba(184, 253, 80, 0.0549019608);
}
.OurCapabilities__grid-item-title {
  margin-top: 23px;
  font-size: 20px;
  font-weight: 500;
}
.OurCapabilities__grid-item-text {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #9593a4;
}

.Customer {
  width: 100%;
  min-height: 1051px;
}
.Customer__header {
  padding-top: 79px;
  max-width: 470px;
  text-align: center;
  margin: 0 auto;
}
.Customer__header-title {
  font-size: 16px;
  font-weight: 400;
}
.Customer__header-subtitle {
  margin-top: 5px;
  font-size: 48px;
  font-weight: bold;
}
.Customer__header-text {
  margin-top: 26px;
  font-size: 18px;
  font-weight: 400;
}
.Customer__wrap {
  width: 1268px;
  margin: 0 auto;
  position: relative;
}
.Customer__slider {
  padding-top: 67px;
  display: flex;
  overflow: hidden;
}
.Customer__slider-content {
  left: 50%;
  margin: 0 155px;
  width: 958px;
  max-height: 485px;
  border: 1px solid #d9d9d9;
  border-radius: 40px;
  display: flex;
  transition: 0.5s;
}
.Customer__slider-content-column {
  margin: 72px 46px 72px 72px;
  width: 495px;
}
.Customer__slider-content-title {
  margin-top: 42px;
  color: #14142b;
  font-size: 26px;
  font-weight: bold;
}
.Customer__slider-content-desc {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #111204;
  opacity: 0.8;
}
.Customer__slider-content-desc_bold {
  font-weight: bold;
}
.Customer__slider-content-heading {
  margin-top: 43px;
  font-size: 20px;
  font-weight: bold;
}
.Customer__slider-content-text {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #111204;
  opacity: 0.8;
}
.Customer__slider-content-text_bold {
  font-weight: bold;
  text-transform: uppercase;
}
.Customer__slider-content-img {
  width: 325px;
  height: 325px;
  margin-top: 94px;
  padding-right: 58px;
}
.Customer__before {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(../image/04_Customer/Icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  top: 50%;
  left: 0px;
}
.Customer__before:hover {
  cursor: pointer;
}
.Customer__after {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(../image/04_Customer/Icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  transform: scale(-1);
  top: 50%;
  right: 0px;
}
.Customer__after:hover {
  cursor: pointer;
}

.Pricing {
  width: 100%;
  min-height: 2624px;
  background-color: rgb(20, 22, 0);
  color: white;
}
.Pricing__containerOne {
  padding-top: 148px;
  max-width: 1140px;
  margin: 0 auto;
}
.Pricing__containerOne-header {
  max-width: 810px;
  text-align: center;
  margin: 0 auto;
}
.Pricing__containerOne-header-title {
  font-size: 16px;
  font-weight: 400;
  color: #b9fd50;
}
.Pricing__containerOne-header-subtitle {
  margin-top: 8px;
  font-size: 48px;
  font-weight: bold;
}
.Pricing__containerOne-header-text {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}
.Pricing__containerOne-wrapper {
  margin-top: 112px;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.Pricing__containerOne-wrapper-inner {
  background-color: #222222;
  border-radius: 16px;
  border: 1px solid rgba(184, 253, 80, 0.368627451);
  padding: 39px 0px 44px 0px;
  width: 360px;
}
.Pricing__containerOne-wrapper-inner > * {
  max-width: 288px;
  margin: 0 auto;
}
.Pricing__containerOne-wrapper-inner > span {
  display: block;
  max-width: 322px;
  height: 1px;
  background-color: #b9fd50;
  opacity: 0.37;
}
.Pricing__containerOne-wrapper-inner-row {
  display: flex;
  margin: 0 auto;
  position: relative;
}
.Pricing__containerOne-wrapper-inner-row-text {
  font-size: 34px;
  font-weight: 600;
}
.Pricing__containerOne-wrapper-inner-row-button {
  font-size: 14px;
  font-weight: 400;
  background-color: #b9fd50;
  border-radius: 8px;
  padding: 10px 20px;
  color: #111204;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  margin-left: 20px;
}
.Pricing__containerOne-wrapper-inner-row-button_white {
  right: 45px;
  background-color: #ffffff;
}
.Pricing__containerOne-wrapper-inner-desc {
  margin-top: 32px;
  margin: 32px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 32px;
}
.Pricing__containerOne-wrapper-inner-price {
  margin-top: 32px;
  font-size: 48.5px;
  font-weight: 600;
  color: #b9fd50;
}
.Pricing__containerOne-wrapper-inner-text {
  margin-top: 17px;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 400;
  margin-bottom: 37px;
}
.Pricing__containerOne-wrapper-inner-column {
  margin-top: 37px;
  font-size: 19px;
  font-weight: 400;
  margin-left: 65px;
}
.Pricing__containerOne-wrapper-inner-column > li {
  position: relative;
}
.Pricing__containerOne-wrapper-inner-column > li:not(:last-child) {
  margin-bottom: 25px;
}
.Pricing__containerOne-wrapper-inner-column > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -28px;
  top: 50%;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../image/05_Pricing/Star.png);
  transform: translateY(-50%);
}
.Pricing__containerOne-wrapper-inner-column_green {
  color: #b9fd50;
}
.Pricing__containerOne-wrapper-inner-btnOne {
  display: block;
  margin-top: 52px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #222222;
  border: 1px solid #b9fd50;
  border-radius: 8px;
  width: 269px;
  height: 56px;
  cursor: pointer;
}
.Pricing__containerOne-wrapper-inner-btnOne:hover {
  background-color: #202020;
  border: 1px solid #8dc23f;
}
.Pricing__containerOne-wrapper-inner-btnTwo {
  display: block;
  margin-top: 20px;
  color: #111204;
  font-weight: 600;
  font-size: 16px;
  background-color: #b9fd50;
  border: 0;
  border-radius: 8px;
  width: 269px;
  height: 56px;
  cursor: pointer;
}
.Pricing__containerOne-wrapper-inner-btnTwo:hover {
  background-color: #9eda46;
}
.Pricing__containerTwo {
  max-width: 1139px;
  margin: 0 auto;
  margin-top: 162px;
}
.Pricing__containerTwo-header {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.Pricing__containerTwo-header-text {
  color: #b9fd50;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.Pricing__containerTwo-header-title {
  margin-top: 11px;
  font-size: 48px;
  font-weight: bold;
}
.Pricing__containerTwo-header-subtitle {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}
.Pricing__containerTwo-grid {
  margin-top: 111px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(504px, 1fr));
  grid-gap: 31px;
}
.Pricing__containerTwo-grid-row {
  position: relative;
  display: flex;
  max-height: 212px;
  max-width: 600px;
}
.Pricing__containerTwo-grid-row img {
  height: 212px;
  z-index: 1;
}
.Pricing__containerTwo-grid-row-column {
  position: absolute;
  padding-top: 29px;
  padding-left: 80px;
  left: 160px;
  margin: 0 auto;
  max-width: 307px;
  border: 1px solid rgba(184, 253, 80, 0.3215686275);
  background-color: rgb(20, 22, 0);
  border-radius: 16px;
  height: 181px;
}
.Pricing__containerTwo-grid-row-column-title {
  font-size: 14px;
  font-weight: 600;
  color: #bbbbbb;
}
.Pricing__containerTwo-grid-row-column-subtitle {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
  max-width: 250px;
}
.Pricing__containerTwo-grid-row-column-text {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  color: #ababb2;
}
.Pricing__containerTwo-button {
  color: #a5d96f;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #b9fd50;
  border-radius: 16px;
  width: 218px;
  height: 71px;
  background-color: rgb(20, 22, 0);
  text-transform: uppercase;
  position: relative;
  margin: 92px 0;
  left: 50%;
  transform: translateX(-50%);
}

.NewsArticles {
  width: 100%;
  min-height: 1338px;
}
.NewsArticles__container {
  padding-top: 86px;
  margin: 0 auto;
  max-width: 543px;
}
.NewsArticles__container-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.NewsArticles__container-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
  margin-top: 12px;
}
.NewsArticles__container-items {
  margin-top: 64px;
  background-color: #111204;
  border-radius: 20px;
  padding: 20px 22px 18px 34px;
  border: 2px solid white;
}
.NewsArticles__container-items:not(:first-of-type) {
  margin-top: 27px;
}
.NewsArticles__container-items-item {
  width: 487px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NewsArticles__container-items-item-title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.NewsArticles__container-items-item-icon {
  position: relative;
  display: inline-block;
  background-color: #b9fd50;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: 0.2s;
}
.NewsArticles__container-items-item-icon:hover {
  cursor: pointer;
}
.NewsArticles__container-items-item-icon:hover {
  transition: 0.2s;
  background-color: rgba(184, 253, 80, 0.8352941176);
}
.NewsArticles__container-items-item-icon img {
  position: absolute;
  left: 16.31px;
  top: 19px;
  width: 15.39px;
  height: 8.37px;
  transition: 0.3s;
}
.NewsArticles__container-items-item-icon_active {
  top: 19px;
  transform: scale(-1);
  transition: 0.3s;
}
.NewsArticles__container-items-hidden {
  margin-top: 18px;
  margin-bottom: 8px;
}
.NewsArticles__container-items-hidden_hidden {
  display: none;
}
.NewsArticles__container-items-hidden-text {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.NewsArticles__container-form {
  margin-top: 37px;
  padding-bottom: 368px;
}
.NewsArticles__container-form-textUser {
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
  width: 505px;
  height: 132px;
  border: 1.5px solid #111204;
  border-radius: 14px;
  padding: 17px;
  resize: none;
}
.NewsArticles__container-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}
.NewsArticles__container-form-wrapper-text {
  max-width: 242px;
  font-size: 14px;
  font-weight: 400;
  color: #111204;
  opacity: 0.6;
}
.NewsArticles__container-form-wrapper-button {
  background-color: #b9fd50;
  width: 140px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: 0;
  transition: 0.3s;
}
.NewsArticles__container-form-wrapper-button:hover {
  cursor: pointer;
  background-color: rgba(184, 253, 80, 0.7137254902);
  transition: 0.3s;
}

.Revolution {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%);
  width: 1209px;
  height: 424px;
  background-color: #1e2008;
  border-radius: 35px;
  color: white;
}
.Revolution__title {
  margin: 0 auto;
  max-width: 565px;
  margin-top: 59px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}
.Revolution__text {
  margin-top: 27px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.Revolution__button {
  margin-top: 49px;
  font-size: 16px;
  font-weight: 500;
  background-color: #b9fd50;
  border-radius: 8px;
  border: 0;
  padding: 17px 51px 17px 27px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.Revolution__button:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../image/08_Revolution/Vector.png);
  width: 17.49px;
  height: 17.49px;
  top: 50%;
  transform: translateY(-50%);
  left: 118px;
}
.Revolution__button:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: rgba(184, 253, 80, 0.7725490196);
}

.footer {
  width: 100%;
  min-height: 598px;
  background-color: rgb(20, 22, 0);
  color: white;
}
.footer__contentOne {
  padding-top: 315px;
  max-width: 1113px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer__contentOne-columnOne {
  max-width: 311px;
}
.footer__contentOne-columnOne-title {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}
.footer__contentOne-columnOne-title a {
  color: #ffffff;
}
.footer__contentOne-columnOne-title_green {
  color: #b9fd50;
}
.footer__contentOne-columnOne-text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}
.footer__contentOne-columnTwo {
  width: 179px;
}
.footer__contentOne-columnTwo-email {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.footer__contentOne-columnTwo-email:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  background-image: url(../image/09_footer/Email.png);
  width: 20px;
  height: 20px;
}
.footer__contentOne-columnTwo-phone {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.footer__contentOne-columnTwo-phone:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  background-image: url(../image/09_footer/phone.png);
  width: 20px;
  height: 20px;
}
.footer__contentOne-columnTwo-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}
.footer__contentOne-columnTwo-icons-Facebook {
  width: 24px;
  height: 24px;
  background-color: #b9fd50;
  border-radius: 50%;
  position: relative;
}
.footer__contentOne-columnTwo-icons-Facebook img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer__contentTwo {
  border-top: 1px solid #404040;
  padding-top: 26px;
  display: flex;
  max-width: 1148px;
  margin: 56px auto 50px auto;
  justify-content: space-between;
}
.footer__contentTwo-wrapper {
  display: flex;
}
.footer__contentTwo-wrapper > li {
  margin-left: 32px;
  font-size: 16px;
  font-weight: 400;
}
.footer__contentTwo-wrapper > li > a {
  color: #FFFFFF;
  transition: 0.2s;
}
.footer__contentTwo-wrapper > li > a:hover {
  transition: 0.2s;
  color: #b1b1b1;
}
.footer__contentTwo-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.BookACall {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.4196078431);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0px;
}
.BookACall__box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 450px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgb(182, 182, 182), rgb(243, 243, 243));
  padding: 20px;
}
.BookACall__back {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.BookACall__title {
  margin-top: 30px;
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}
.BookACall__wrapper {
  height: 350px;
}
.BookACall__wrapper-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.BookACall__wrapper-items > input {
  font-size: 22px;
  width: 350px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 3px 7px;
}
.BookACall__wrapper-items > input:hover {
  box-shadow: 0px 3px 10px;
}
.BookACall__wrapper-items > textarea {
  font-size: 22px;
  width: 350px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  resize: none;
  box-shadow: 0px 3px 7px;
}
.BookACall__wrapper-items > textarea:hover {
  box-shadow: 0px 3px 10px;
}
.BookACall__button {
  top: 20px;
  width: 350px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.BookACall__button:hover {
  background-color: #0056b3;
}
.BookACall__text {
  font-size: 13px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */